@mixin respond($breakpoint) {
  //tablets in potriate mode && phones in landscape
  @if $breakpoint == tab-port {
    @media (max-width: 576px) {
      @content;
    }
  }

  //tablets in  landscape mode
  @if $breakpoint == tab-land {
    @media (max-width: 768px) {
      @content;
    }
  }

  //Normal sized desktops
  @if $breakpoint == desktop {
    @media (max-width: 992px) {
      @content;
    }
  }

  //Big desktops
  @if $breakpoint == big-desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
